/*Estilos da página index.htlm*/

/*-----------menu-------------*/
#menu li {
    display: inline;
    padding-right: 5px;
}

#menu li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 14px;
}

#menu li a:hover {
    color: #FCA8B2;
}

.menu{
    text-align: right;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    padding: 1px;
    margin-left: 850px;
}
.color-menu {
    background-color: #ffffff;
}

.font {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/*-----------Blog Quem Sou EU-------------*/

.blog-geral{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
}

#whoami {
    width: 200px;
    word-wrap: break-word;
    padding: 10px;
    margin: 20px;
    margin-top: 3px;
}

.img{
    text-align: center;
    margin-right: 10px;
}

.quem-sou-eu{
    background: #89D9ED;
}

.who-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10;
    margin-top: 10px;
}

.who-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: justify;
    line-height: 18px;
}

/*-----------Postagens do Blog-------------*/

.post-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
}

.paragrafo-card {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
}

.postagens {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.cabeçalho {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-block-end: 60px;
}

.título {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 40;
}

.paragrafo{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.img-post {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.rodape-img{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    word-wrap: break-word;
}

/*Estilos da página contato.htlm*/

.contact-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 20px;
}

.page-contact{
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-bottom: 50px;
}

.ml-50{
    margin-left: 50px;
}

.formulario{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10;
}



/*Estilo de rodapé para as duas páginas*/

.rodape{
    font-family: 'Montserrat', sans-serif;
    font-size: 10;
    text-align: center;
}

.tm-social{
    width: 25px;
    padding: 5px;
}